@model Lanche

<div class="col-md-4">
    <div class="card m-4 border shadow-sm">
        <img src="@Model.ImagemUrl" class="img-responsive" alt="..." width="230" height="230">
        <div class="card-body">
            <hr>
            <h5 class="card-title">@Model.Nome</h5>
            <p class="card-text">@Model.DescricaoCurta</p>
            <h5>@Model.Preco.ToString("c")</h5>
        </div>
    </div>
</div>
